[package]
name = "teamspeak-management-tools"
version = "1.0.1"
edition = "2021"

[dependencies]
anyhow = "1"
chrono = "0.4.19"
clap = "3.2.8"
country-emoji = "0.2.0"
env_logger = "0.9"
futures-util = "0.3.21"
log = { version = "0.4", features = ["max_level_trace", "release_max_level_debug"] }
once_cell = "1.10"
redis = { version = "0.21", features = ["tokio-comp"] }
serde = "1.0"
serde-teamspeak-querystring = { path = "serde-teamspeak-querystring" }
serde_derive = "1.0"
serde_json = "1.0.79"
teloxide = { version = "0.10.1", default-features = false, features = ["rustls"] }
teloxide-macros = "0.6.3"
tokio = { version = "1.18", features = ["full"] }
toml = "0.5"

[profile.release]
lto = true
panic = "abort"